@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
h2{
  text-align: left;
}
h1, h2, p {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  height: 120px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  a{
    color:rgb(163, 63, 13); 

  }
   

hr {
  border-top: 2px solid rgb(211, 181, 8);
}

body {
  background-color: rgb(220, 205, 184);
  font-family: 'Roboto', sans-serif;
  color:rgb(180, 96, 54); 
  
}
